body {
    font-family: "Helvetica", Sans-Serif;
    
  }
.site-navigation{
    background: white;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;  
} 
.ion-ios-menu {
    font-size: 36px;
    width: 65px;
    align-items:center;
    cursor: pointer;
    display: none;
}
.menu-content-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.ant-avatar {
    background-color: $background;
    border: 1px solid $border;
}